@import url( demo.css );
@import url( common.css );
@import url( icons.css );
.cd-dropdown {
	perspective: 800px; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px;
}
.cd-dropdown > span {
	transform-origin: 50% 0%; transition:transform 0.3s; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; -webkit-transition: -webkit-transform .3s; -moz-transition: -moz-transform .3s; -o-transition: -o-transform .3s;
}
.cd-dropdown > span:active {
	transform: rotateX(60deg); -webkit-transform: rotateX(60deg); -moz-transform: rotateX(60deg); -o-transform: rotateX(60deg);
}
.cd-dropdown > span {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.cd-dropdown ul {
	top: 0px; width: 100%; position: absolute;
}
.cd-dropdown ul li {
	width: 100%; position: absolute;
}
.cd-dropdown.cd-active > span {
	color: rgb(248, 177, 97);
}
.cd-dropdown.cd-active > span {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.cd-dropdown.cd-active ul li span {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.cd-dropdown.cd-active ul li span {
	transition:0.2s linear; -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s;
}
.cd-dropdown.cd-active ul li span:hover {
	background: rgb(248, 177, 97); color: rgb(255, 255, 255);
}
