<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hannover</property>
      <property name="hibernate.connection.username">postgres</property>
      <property name="hibernate.connection.password">postgres</property>
      <property name="hibernate.connection.pool_size">10</property>
      <property name="hibernate.connection.autocommit">true</property>
      <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
      <property name="hibernate.current_session_context_class">thread</property>
      <mapping class="com.hannover.model.AdmissionDetail"/>
   	  <mapping class="com.hannover.model.ClaimDetail"/>
   	  <mapping class="com.hannover.model.PatientDetail"/>
   	  <mapping class="com.hannover.model.PackageDetail"/>
   	  <mapping class="com.hannover.model.HospitalDetail"/>
   	  <mapping class="com.hannover.model.DiseaseDetail"/>
   	  <mapping class="com.hannover.model.PatientClaimDetail"/>
   	  <mapping class="com.hannover.model.UploadDetail"/>
	  <mapping class="com.hannover.model.Trends"/>
</session-factory>
</hibernate-configuration>
